<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shihon.hotelmanagment">

    <application
        android:allowBackup="true"
        android:label="HotelManagment"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Role-based Dashboards -->
        <activity
            android:name=".ui.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ManagerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReceptionDashboardActivity"
            android:exported="false" />

        <!-- Login Activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />

        <!-- Room & Booking Activities -->
        <activity
            android:name=".ui.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RoomListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookingListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddBookingActivity"
            android:exported="false" />

        <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
